@font-face {
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/GothamProRegular/GothamProRegular.woff2") format("woff2"), url("./fonts/GothamProRegular/GothamProRegular.woff") format("woff"); }

@font-face {
  font-family: "GothamProMedium";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/GothamProMedium/GothamProMedium.woff2") format("woff2"), url("./fonts/GothamProMedium/GothamProMedium.woff") format("woff"); }

@font-face {
  font-family: "GothamProLight";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/GothamProLight/GothamProLight.woff2") format("woff2"), url("./fonts/GothamProLight/GothamProLight.woff") format("woff"); }

@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon/icomoon.eot?4k3kpb");
  src: url("./fonts/icomoon/icomoon.eot?4k3kpb#iefix") format("embedded-opentype"), url("./fonts/icomoon/icomoon.ttf?4k3kpb") format("truetype"), url("./fonts/icomoon/icomoon.woff?4k3kpb") format("woff"), url("./fonts/icomoon/icomoon.svg?4k3kpb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
