footer {
	background-color: #2a2d42;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	padding: 90px 20px 70px;
}

footer .content-wrapper {
	padding: 0;
	max-width: 1200px;
}

footer .logo {
	margin-bottom: 20px;
}
footer .logo-link {
	font-size: 35px;
	color: #ff6a44;
	transition: color .3s;
}

footer .logo-link:hover {
	color: #fff;
}

footer .copyright {
	font-size: 10px;
	color: rgb(189, 189, 189);
}
.footer-column {
	-webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	padding: 0 50px 0 0;
	margin-bottom: 45px;
	box-sizing: border-box;
}
.footer-column:last-child {
	padding: 0;
}
.footer-column--logo {
	width: 250px;
}
.footer-column--allset {
	width: 150px;
}
.footer-column--partnet,
.footer-column--contacts {
	width: 180px;
}
.footer-column--apps {
	width: 185px;
}
.footer-column_title {
	color: #8B8B8B;
	margin-bottom: 20px;
}
.footer-column_list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-column_list li {
	margin-bottom: 15px;
}
.footer-column_list-item {
	color: #D8D8D8;
	cursor: pointer;
	transition: color .3s;
}

.footer-column_list-item:hover {
	color: #ff6a44;
}

footer .contact-btn-wrapper a {
	color: #fff;
	font-size: 16px;
	margin-right: 14px;
	transition: color .3s;
}

footer .contact-btn-wrapper a:hover {
	color: #ff6a44;
}

footer .app-link .icon,
footer .bot-link .icon {
	font-size: 20px;
	margin-right: 13px;

}
footer .app-link .icon {
	position: relative;
	top: -2px;
}
footer .app-link .icon-apple {
	top: -3px;
}
footer .app-link {
	transition: color .3s;
	color: #ff6a44;
	font-family: "GothamProMedium",  Arial, Helvetica, sans-serif;
}
footer .bot-link {
	transition: color .3s;
	color: #017fff;
	font-family: "GothamProMedium",  Arial, Helvetica, sans-serif;
}

footer .app-link:hover,
footer .bot-link:hover {
	color: #fff;
	font-family: "GothamProMedium",  Arial, Helvetica, sans-serif;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	footer {
		padding: 40px 45px;
	}
	footer .content-wrapper {
		-webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.footer-column--apps {
		width: 125px;
	}
	.footer-column--logo {
		-webkit-flex: 1 1 100%;
	    -moz-flex: 1 1 100%;
	    -ms-flex: 1 1 100%;
	    flex: 1 1 100%;
		-webkit-box-ordinal-group: 3;
	    -webkit-order: 2;
	    -moz-order: 2;
	    -ms-flex-order: 2;
	    order: 2;
	}
	.footer-column .logo,
	.footer-column .copyright {
		text-align: center;
	}
	.footer-column--contacts {
		-webkit-flex: 1 0 auto;
	    -moz-flex: 1 0 auto;
	    -ms-flex-negative: 0;
	    flex: 1 0 auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 550px) {
	footer {
		padding: 45px 25px 58px;
		font-size: 14px;
	}
	.footer-column {
		-webkit-flex: 0 1 100%;
	    -moz-flex: 0 1 100%;
	    -ms-flex: 0 1 100%;
	    flex: 0 1 100%;
	    margin-bottom: 45px;
	}
	.footer-column--logo {
		margin: 0;
	}
	.footer-column .logo,
	.footer-column .copyright {
	    text-align: left;
	}
	.footer-column--contacts,
	.footer-column--partnet,
	.footer-column--allset {
		-webkit-box-ordinal-group: 2;
	    -webkit-order: 1;
	    -moz-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	}
	footer .copyright {
		font-size: 12px;
	}
}
