.rest_page-block_04{
    padding: 20px 0 85px;
    .header{
        margin-bottom: 60px;
    }
    .title{
        color: #383434;
        font-family: $bold_font;
        font-size: 23px;
        font-weight: 500;
        letter-spacing: -0.37px;
        margin-bottom: 8px;
    }
    .rest_page-block_04-content-wrapper+.rest_page-block_04-content-wrapper{
        margin-top: 95px;
    }

}

.rest_page-block_04-item{
    position: relative;
    // display: inline-block;
    padding-left: 90px;
    width: 100%;
    max-width: 510px;
    letter-spacing: -0.2px;
    vertical-align: top;
    img{
        position: absolute;
        left: 0;
        top: -5px;
    }
}


@media only screen and (max-width : 1000px) {
	.rest_page-block_04{
		.rest_page-block_04-item{
			.text br {
				display: none
			}
		}
	}
}

@media only screen and (max-width : 760px) {
	.rest_page-block_04{
        .header{
            margin-bottom: 50px;
        }

		.rest_page-block_04-item{
            padding-left: 70px;
            img{
                width: 55px;
            }
            .title{
                font-size: 18px;
            }
			.text {
                font-size: 16px;
                line-height: 24px;
			}
        }

        .rest_page-block_04-content-wrapper + .rest_page-block_04-content-wrapper{
            margin-top: 30px;
        }
	}
}

@media only screen and (max-width : 650px) {
	.rest_page-block_04{
		.rest_page-block_04-content-wrapper{
            flex-direction: column;
        }
        .rest_page-block_04-item+.rest_page-block_04-item{
            margin-top: 30px;
        }
	}
}
