.rest_page-block_02{
    padding: 80px 0 110px;

    .testimonial-wrap{
        background-color: #fff;
        padding: 40px 45px 35px 50px;
        margin-left: -185px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
        border-radius: 3px;
        letter-spacing: -0.22px;
        margin-top: auto;
        margin-bottom: auto;
        .testimonial-name{
            margin: 30px 0 5px;
        }
    }

    .block_02-testimonial_wrapper {
        margin-bottom: 80px;
        img{
            min-width: 688px;
        }
    }

    .partners_header_wrapper{
        letter-spacing: -0.2px;
        margin-bottom: 45px;
        p{
            font-size: 16px;
        }
    }

    .rest_page-partners-logo{
        display: inline-block;
        max-width: 14%;
        min-width: 90px;
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width: 1060px) {
    .rest_page-block_02{
        padding-bottom: 50px;
        .block_02-testimonial_wrapper{
            img {
                width: 60%;
                min-width: 500px;
            }
        }

        .testimonial-wrap{
            margin-left: -90px;
        }

        .partners_logo_wrapper{
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .rest_page-partners-logo {
            padding: 0 10px;
        }
    }
}


@media screen and (max-width: 760px) {
    .rest_page-block_02 {
        padding-bottom: 50px;
        .block_02-testimonial_wrapper{
            flex-direction: column;
            img{
                width: 100%;
                min-width: auto;
                max-width: 688px;
            }
        }
        .testimonial-wrap{
            margin-left: 0px;
            width: 100%;
            max-width: 688px;

        }
        .rest_page-partners-logo{
            max-width: 25%;
            min-width: 60px;
            padding: 0 3px;
        }
    }
}

@media screen and (max-width: 650px) {
    .rest_page-block_02 {
        .rest_page-partners-logo{
            img{
                width: 120%;
                padding: 0 5px;
            }
        }

        .testimonial-wrap{
            padding: 40px 20px 30px 25px;
        }
    }
}