.rest_page-header {
    width: 100%;
    padding: 15px 25px;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color .4s;
    align-items: center;

    .nav_list {
        a{
        color: #fff;
        font-size: 12px;
        line-height: 34px;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        &:hover{
            color: $main_color;
            }
        }
        li+li{margin-left: 20px;}
    }
    .logo{
        .logo-link{
            color: #fff;
            font-size: 20px;
            margin-right: 70px;
            &:hover{
                color: $main_color;
            }
        }
    }
    .btn.anchor_btn{
        margin-left: auto;
        width: 168px;
        height: 36px;
        font-size: 16px;

        background-color: #ff6a44;
        padding: 0px 5px;

        float: right;

        display: none;
        opacity: 0;
        transition: opacity .4s, background-color .4s;
        &:hover{
            background-color: #ee5c37
        }
    }

    .my-dropdown-title .icon {
        fill: #fff;
        stroke-color: #fff;
    }
}


.rest_page-header.scrolling {

    background-color: #fff;
    .nav_list a{
        color: #6e6e6e;
        text-shadow: none;
        &:hover{
            color: $main_color;
        }
    }
    .logo{
        .logo-link{
            color: $main_color;
            &:hover{
                color: $main_text_color;
            }
        }
    }
    .btn.anchor_btn{
        display: flex;
        opacity: 1;
    }
    .my-dropdown .icon {
        fill: #000;
    }
}


@media screen and (max-width: 650px) {
    .rest_page-header{
        padding: 15px 30px;
        .logo{
            margin: auto;
            width: 40px;
            overflow: hidden;
            .logo-link{
                font-size: 24px;
            }
        }

        .mobile-nav-btn{
            display: block;
            margin-left: 0;
        }
        .account-dropdown-btn{
            margin-left: 0;
            margin-right: -25px;
        }
        .btn.anchor_btn{
            font-size: 13px;
            width: 90px;
            margin-left: -85px;
            padding: 0 11px;
        }
        .nav_list{
            display: none;
        }
    }
}
