@import "bourbon";
@import "vars.scss";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header .logo {
        margin-right: 10px;
    }
    header .nav-item {
        margin-left: 20px;
    }
	.carousel_wrapper {
        padding: 0 20px;
    }
	.tablet-view {
        display: block;
    }
    br.tablet-view:not(.desktop-view) {
    	display: inline-block;
    }
    .desktop-view {
        display: none;
    }
    .only-tablet-view {
        display: block;
    }
    .get-app-modal .btn-close {
        padding-left: 100px;
        padding-bottom: 70px;
    }
	.partner-logo {
		padding: 10px;
	}
	.advantages-block {
		padding: 55px 10px;
	}
	.advantage-item {
		-webkit-flex: 1 1 auto;
	    -moz-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
		padding: 0 10px 5px;
	}
	.advantage-descr {
		font-size: 17px;
	}
	.how-works_steps {
		max-width: 60%;
	}
	.how-works_img {
		width: 40%;
	}
	.twitter-posts-block {
		padding: 0 20px;
	}
	.cities-block {
		padding: 0 28px;
	}
	.cities-list {
		padding: 0;
	}
	.city-item {
		width: 50%;
	}
	.partners-block--restaurants .landing-block_title {
		max-width: 350px;
		margin: 0 auto;
	}
	.partners-block--restaurants .partners-list {
		padding-bottom: 30px;
		max-width: 630px;
		-webkit-flex-wrap: wrap;
	    -moz-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -ms-flex-pack: distribute;
	    -webkit-justify-content: space-around;
	    -moz-justify-content: space-around;
	    justify-content: space-around;
	}
	.partners-block--restaurants .partner-logo {
		box-sizing: border-box;
		-webkit-flex: 0 0 25%;
	    -moz-flex: 0 0 25%;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
		padding: 15px 15px 50px;
	}
	.partners-block--restaurants .partner-logo:first-child {
		margin-left: 30px;
	}
	.partners-block--restaurants .partner-logo:nth-child(3) {
		margin-right: 30px;
	}
	.promo-block {
		padding: 0;
	}
	.promo-link-wrapper {
		padding-bottom: 15px;
		top: 0;
		margin: 0;
	}
	.promo-link-item {
		padding: 0;
		box-shadow: none;
	}
	.promo-link {
		padding: 50px 35px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
    body{
        line-height: 25px;
    }
    .content-wrapper{
        padding: 0 25px;
    }

    .header{
        font-size: 30px;
        line-height: 32px;
    }
	.desktop-tablet-view,
    .btn.desktop-tablet-view {
        display: none;
    }
    .mobile-view,
    .btn.mobile-view {
        display: block;
    }
    br.mobile-view:not(.desktop-view) {
    	display: inline-block;
    }
    .only-tablet-view {
        display: none;
    }
    .get-app-modal .download-buttons {
    	display: block;
    }
    .get-app-modal .download-buttons .app-btn {
    	margin-top: 10px;
    	font-size: 12px;
    }
    .get-app-modal p {
    	font-size: 14px;
    	line-height: 18px;
    }
    .get-app-modal .tel-form .input_block {
    	display: block;
    }
    .get-app-modal .tel-form .input_block_input  {
        border-radius: 3px 3px 0 0;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #d3d3d3;
    }
    .get-app-modal .tel-form .input_block_btn {
        width: 100%;
        border-radius: 0 0 3px 3px;
    }
    .get-app-modal .btn-close {
    	padding-left: 50px;
    	padding-bottom: 50px;
    }
    .nav-mob,
    .nav-mob > .my-dropdown-menu,
    .nav-mob > .my-dropdown-menu-overlay {
        display: block;
    }
}

