@import "bourbon";



$main_text_color: #383434;
$second_text_color: #303030;
$main_color : #ff6a44;

$main_font: 'GothamProRegular', sans-serif;
$bold_font: 'GothamProMedium', sans-serif;
$light_font: 'GothamProLight', sans-serif;